
.input-container {
    /* margin-left: 15px; */
    background-color: #f7eeee;
    outline: 0;
    border: 2px solid #858ea8f1;
    border-radius: 25px;
    width: 80%;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .input-container:active {
      border: 2px solid #2751cff1;
  }

  .input:focus {
    border: 2px solid #1a44c2f1;
}