.control-container {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.control-button {
    margin-right: 5px;
}

.user-quantity {
    width: 35px;
}